<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>Customer Assessment From</title>
    <script type="text/javascript">
      function showMessage() {
          alert("Customer Assessment Submitted");
      }
  </script>
  </head>
  <body>
    <!-- Source help: https://stackoverflow.com/questions/14123999/center-a-div-horizontally-and-vertically -->
    <div style="position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);">
    <h1>Assessment Entry Form</h1>
    <p>Please note that this page is used to enter assessment information related to a pre-existing customer. To register a new customer, please use the <a href="/polls/customer-registration/">Customer Registration Form</a>.<p>
    <form method="post" action="/polls/assessment-entry/" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row">
        {% for field in form.visible_fields %}
          <div class="col-sm-6 ">
            <b>{{ field.label_tag }}</b> {{ field }} 
          </div>
        {% endfor %}
      </div>
      <input type="submit" value="Submit" onClick="showMessage()">
    </form>
    <br>
    <br>
    <br>
    <a href="/polls">Go Back</a>
    </div>
  </body>
</html>

<!-- Source help: https://stackoverflow.com/questions/42530325/display-django-form-fields-on-the-same-line -->