<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>Index Page</title>
  </head>
  <body>
    <div style="position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);">
    <h1>Dogan Insurance Main Page</h1>
    <h2><a href="/polls/customer-registration/">Register a Customer</a></h2>
    <h2><a href="/polls/assessment-entry/">Enter Assessment Information</a></h2>
    <h2><a href="/polls/quote-retrieval/">Get A Quote</a></h2>
    <hr>
    <br>
    <h2><a href="/polls/updateGeneralModel/">Update General Insurance Model</a></h2>
    <h2><a href="/polls/updateHeartModel/">Update Heart Disease Insurance Model</a></h2>
    <h2><a href="/polls/updateStrokeModel/">Update Stroke Insurance Model</a></h2>
    <hr>
    <br>
    <h3><a href="/admin/">Admin page</a></h3>
    <br>
    <h3>Author: Caglar Dogan</h3>
    <h3>NetID: cd2647</h3>
    <h3>NYU ID: N18970424</h3>
    </div>
  </body>
</html>
